<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eg.gov.iti.tripplanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Mokhtar -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Mokhtar END -->
    <!-- Ibrahim -->
    <!-- Ibrahim END -->
    <!-- Ahmed -->
    <!-- Ahmed END -->
    <!-- Shimaa -->
    <!-- Shimaa END -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <!-- Mokhtar -->
        <receiver
            android:name=".receivers.TripRescheduleReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <!-- For pre-Nougat devices -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <!-- For MIUI devices -->
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".TripReminderActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Translucent"></activity>

        <!-- Mokhtar END -->
        <!-- Ibrahim -->

        <activity android:name=".AddTrip" />

        <!-- Ibrahim END -->
        <!-- Ahmed -->


        <!-- Ahmed END -->
        <!-- Shimaa -->
        <activity android:name=".New_Trip_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Shimaa END -->

    </application>

</manifest>